html {
    box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

/*Navigation Bar*/
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 9.5px 10px;
  z-index: 1;
}
header div {
  height: 50px;
}
header img {
  width: 60%;
  height: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav li {
  padding: 10px;
}
nav a {
  color: seashell;
}
nav a:hover {
  color: rgb(168, 158, 152);
}
/*Main Content*/
/*Footer*/