html {
    box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

/*1.0 Navigation Bar*/
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 9.5px 10px;
  z-index: 1;
  background-color: black;

}
header div {
  height: 50px;
}
header img {
  width: 60%;
  height: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav li {
  padding: 10px;
}
nav a {
  color: seashell;
}
nav a:hover {
  color: rgb(168, 158, 152);
}

/*2.0 Main Content*/
main {
  width: 1200px;
  margin-top: 90px;
  margin-left:auto;
  margin-right: auto;
}

main img {
  max-width: 100%;
}

/*2.1 Missions*/
#mission {
  background: url('../images/img-mission-background.jpg') no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
}
#mission div {
  text-align: center;
  background-color:black;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*Footer*/